@if(isLeaf){
<div class="leaf-container">
  <button mat-icon-button disabled id="leafBtn" class="leaf-btn"></button>
  <app-nodetext
    [node]="node"
    [searchValue]="searchValue"
    (contextmenu)="onRightClick($event)"
    [isEnabled]="isEnabled"
  ></app-nodetext>
</div>

} @else{
<div class="node-container">
  <button
    id="nodeBtn"
    (click)="toggleNode(node)"
    [attr.aria-label]="'Toggle ' + node.text"
    class="node-btn"
  >
    <mat-icon class="small-icon" id="nodeIcon">
      {{ tree.isExpanded(node) ? "remove" : "add" }}
    </mat-icon>
  </button>
  <app-nodetext
    [node]="node"
    [searchValue]="searchValue"
    (contextmenu)="onRightClick($event)"
    [isEnabled]="isEnabled"
  ></app-nodetext>
</div>
} @if(favoritePopupIsVisible && node.favorite){
<div>
  <button
    class="favoriten"
    style="border: none; width: 105px"
    [ngStyle]="{
      top: favoritePopupPosition.y  + 'px',
      left: favoritePopupPosition.x + 'px',
    }"
    (click)="removeFromFavorite(node)"
  >
    löschen
  </button>
  <button
    class="favoriten"
    style="border: none; width: 105px"
    [ngStyle]="{
      top: favoritePopupPosition.y + 30 + 'px',
      left: favoritePopupPosition.x + 'px',
    }"
    (click)="enableInput(node)"
  >
    umbenennen
  </button>
</div>

}@else if (favoritePopupIsVisible) {
<button
  class="favoriten"
  style="border: none"
  [ngStyle]="{
    top: favoritePopupPosition.y + 'px',
    left: favoritePopupPosition.x + 'px'
  }"
  (click)="addToFavorite(node)"
>
  Favoriten
</button>

}
