@if(isLeaf){
<div class="d-flex align-items-center">
  <button mat-icon-button disabled class="invisible pe-2"></button>
  <span
    class="text-truncate"
    [class.match]="nodeService.isNodeMatch(node, searchValue)"
  >
    {{ node.text }}
  </span>
</div>

} @else{

<div class="d-flex align-items-center p-1">
  <button
    matTreeNodeToggle
    [attr.aria-label]="'Toggle ' + node.text"
    class="btn btn-sm btn-primary d-flex justify-content-center align-items-center rounded-circle p-1"
    style="width: 20px; height: 20px"
  >
    <mat-icon class="mat-icon-rtl-mirror small-icon">
      {{ tree.isExpanded(node) ? "remove" : "add" }}
    </mat-icon>
  </button>
  <span
    class="text-truncate p-1"
    [class.match]="nodeService.isNodeMatch(node, searchValue)"
  >
    {{ node.text }}
  </span>
</div>

}
