.favoriten {
  position: fixed;
  border: 1px solid lightgray;
  background-color: white;
  min-width: 105px;
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  margin: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
}

.favoriten.hoverable:hover {
  background-color: #3399ff;
  color: white;
}

.small-icon {
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin: 0.25rem;
  width: 20px;
  height: 20px;
  font-size: 0.875rem; // btn-sm → around 14px
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: green;

  &:hover {
    background-color: #5c636a;
  }
  &--red {
    background-color: red;
  }
}

.node-icon {
  font-weight: bold;
  font-size: 0.75rem;
  direction: rtl;
}

span {
  margin: 0.25rem;
}
