@if (isLeftClick) {
  <div
    class="favoriten"
    [ngStyle]="{
      'pointer-events': isDragged ? 'none' : 'auto',
      top: position.y + 'px',
      left: position.x + 'px',
    }"
    (click)="onClick()"
  >
    @if (isOverFavorite) {
      <button id="nodeBtn" [attr.aria-label]="'Toggle '" class="node-btn">
        <mat-icon class="small-icon" id="nodeIcon">
          {{ 'add' }}
        </mat-icon>
      </button>
    } @else {
      <button id="nodeBtn" [attr.aria-label]="'Toggle '" class="node-btn node-btn--red">
        <mat-icon class="small-icon" id="nodeIcon">
          {{ 'remove' }}
        </mat-icon>
      </button>
    }
    <span> {{ title }}</span>
  </div>
} @else {
  <button
    class="favoriten hoverable"
    [ngStyle]="{
      top: position.y + 'px',
      left: position.x + 'px',
    }"
    (click)="onClick()"
  >
    {{ title }}
  </button>
}
