@if (isLeftClick) {
  <div
    class="favorite-button"
    [ngStyle]="{
      'pointer-events': isDragged ? 'none' : 'auto',
      top: position.y + 'px',
      left: position.x + 'px',
    }"
    (click)="onClick()"
  >
    @if (isOverFavorite) {
      <button [attr.aria-label]="'Toggle '" class="favorite-button__button">
        <mat-icon class="favorite-button__icon">
          {{ 'add' }}
        </mat-icon>
      </button>
    } @else {
      <button
        [attr.aria-label]="'Toggle '"
        class="favorite-button__button favorite-button__button--red"
      >
        <mat-icon class="favorite-button__icon">
          {{ 'close' }}
        </mat-icon>
      </button>
    }
    <span class="favorite-button__text"> {{ title }}</span>
  </div>
} @else {
  <button
    class="favorite-button hoverable"
    [ngStyle]="{
      border: 'none',
      top: position.y + 'px',
      left: position.x + 'px',
    }"
    (click)="onClick()"
  >
    {{ title }}
  </button>
}
