<div class="w-auto m-2 p-1" style="border: 1px solid gray">
  <mat-tree
    #tree
    [dataSource]="dataSource"
    [childrenAccessor]="childrenAccessor"
    style="background-color: white"
  >
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <app-node
        [isLeaf]="true"
        [node]="node"
        [searchValue]="searchValue"
        [tree]="tree"
      ></app-node>
    </mat-tree-node>

    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
    >
      <app-node
        [isLeaf]="false"
        [node]="node"
        [searchValue]="searchValue"
        [tree]="tree"
      ></app-node>
    </mat-tree-node>
  </mat-tree>
</div>
