.node-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-text__content {
  padding: 0.25rem;
  margin: 0rem;
  cursor: default;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.node-text__segment {
  margin: 0rem;
  padding: 0rem;
}

.node-text__segment--highlighted {
  color: green;
}

.node-text__input {
  padding: 0.25rem;
  margin: 0rem;
  display: flex;
  justify-content: center;
  cursor: default;
  background-color: transparent;
  min-width: 300px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.node-text__input[disabled] {
  pointer-events: none;
}
