main {
  display: inline-block;
}

.tree-node__button--background--OGS-light {
  background-color: #0082bf;
}

.tree-node__button--background--OGS-dark {
  background-color: #303030;
}

.tree-node__button--background--OGS-ci {
  background-color: #706f69;
}
