
main{
  display: flex;
  align-items: center;
  justify-content: center;
}


.matched-text {
  color: green;
}


.no-space, .matched-text{
  margin: 0rem;
  padding: 0rem;
}


.matched{
    padding: 0.25rem;
    margin: 0rem;
}


.not-matched{
  padding: 0.25rem;
  margin: 0rem;
  display: flex;
  justify-content: center;
}
