<main class="node-text">
  @if (displayHighlightedText(searchValue)) {
    <p class="node-text__content" id="match">
      <span id="before" class="node-text__segment">{{ before }}</span
      ><span id="matchedText" class="node-text__segment node-text__segment--highlighted">{{
        match
      }}</span
      ><span id="after" class="node-text__segment">{{ after }}</span>
    </p>
  } @else {
    <input
      #nodeTextInput
      id="noMatch"
      class="node-text__input"
      [(ngModel)]="node.text"
      [disabled]="!isEnabled"
    />
  }
</main>
